# Virtual Environment
venv/

# Python
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# VS Code
.vscode/

# Uploaded resumes
backend/uploads/

# Node
node_modules/

# Build files
dist/
build/

# OS files
.DS_Store
Thumbs.db
venv/
node_modules/
__pycache__/
*.pyc
.env
backend/uploads/
.vscode/